@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	min-height: 100vh;
	background-color: #0c0a09;
	color: white;
}

body {
	padding: 15px;
}

h1,
h2 {
	font-family: "Inter", sans-serif;
}

.main {
	display: flex;
	flex-direction: column;
}

.code-block {
	font-family: "Fira Code", monospace;
	background-color: #18181b;
	padding: 10px 20px;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: max-content;
}

.subtask {
	display: flex;
	flex-direction: column;
}

img {
	border-radius: 15px;
	border: 1px solid white;
}
